{% extends 'base_front.html.twig' %}

{% block container %}

    <center>
        <section id="main-content">
        <h1>Besoins list</h1>

        <table class="table table-striped table-advance table-hover">
            <thead>
            <tr>

                <th>Categorie</th>
                <th>Quantite</th>
                <th>lieu</th>
                <th>localisation</th>


            </tr>
            </thead>
            <tbody>
            {% for besoin in besoins %}
                <tr>

                    <td>{{ besoin.nomBs }}</td>
                    <td>{{ besoin.quantite }}</td>
                    <td>{{ besoin.id_c.lieu.lieu }}</td>

                    <td>
                        <a href="{{ path('camp_local', { 'id': besoin.id_c.id })  }}"><i class="fa fa-map-marker"></a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <ul> </ul>
        <div class="navigation">
            {{ knp_pagination_render(besoins) }}
        </div>


    </center>
{% endblock %}
